*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    width:100%;
    padding: 0!important;
}

img{
    width: 100%;
    object-fit: contain;
}
::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background-color: rgb(210, 210, 210);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(79, 79, 79);
    border-radius: 100vh;
    border: solid 3px rgb(210, 210, 210);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(69, 69, 69);
}
